@import "~bootstrap/scss/bootstrap"
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css")

body
  width: 1200px
  margin: 0 auto

.navbar
  border-radius: .25rem
  margin-top: 1.5rem

.search-input
  width: 32rem

.search-button
  margin-left: -40px
