
.home {

  .search-wrapper {
    display: flex;
    flex: 1;

    .lead {
      text-align: center;
    }

    .name {
      font-size: 64px;
    }

    .box-search {
      .TextInput-wrapper {
        padding-top: 3px;
        padding-bottom: 3px;
      }

      .btn-search {
        margin-left: 4px;
      }
    }


  }
}
